<mat-toolbar class="d-flex">
  <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
    <span>Dream Spin</span>
    <span>Casino</span>

    <button class="btn btn-primary align-end" aria-label="Example icon-button with heart icon">
      Sign Up <mat-icon>favorite</mat-icon>
    </button>
    <button class="btn btn-primary align-end" aria-label="Example icon-button with share icon">
     Login  <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
